registry=https://npm.pkg.github.com/gulabs
//npm.pkg.github.com/:_authToken=3d895e76f5c84eb3a1dd5f594fa1ab6813237d97
# Force npm to run node-gyp also as root, preventing permission denied errors in AWS with npm@5
unsafe-perm=true
